{
  /*
      umabiguous" tells Babel to automatically detect if it's transforming a 
      CJS or ESM file, so that it doesn't inject import statements in CJS dependencies.
      This allows me to use "module.exports" in the clientSideHelper.js and then use 
      "import helpers from ./clientSideHelpers.js" to import all the functions
  */
  "sourceType": "unambiguous",
  /*
      a preset is a set of plugins used to support particular language features.
      The two presets Babel uses by default: es2015, react
  */
  "presets": [
    "@babel/preset-env", //compiling ES2015+ syntax
    "@babel/react" //for react
  ],
  /*
      Babel's code transformations are enabled by applying plugins 
      (or presets) to your configuration file.
  */
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
  
}